<h1>Blog</h1>

<% @contents.map do |content| %>
    <p>Name: <%= content.name %></p>
    <p>Description: <%= content.description %></p>
    <%= image_tag(content.photo, width: '200px') %>
<% end %>

<br>

<%= link_to 'home', root_path %>